/* 负责首页的样式设置 */
/* 
    CSS 实现思路
        1. 画盒子，调整盒子范围 → 宽高背景色
        2. 调整盒子位置 → flex 布局、内外边距
        3. 控制图片、文字内容样式
*/
/* 1.整体布局 发现所有板块都是版心居中 那么提取出此部分代码 避免代码重复编写 */
.wrapper {
    margin: 0 auto;
    width: 1200px;
}

body {
    background-color: #f3f5f7;
}

/* 2.头部区域 */
.header {
    height: 100px;
    background-color: #fff;
}

.header .wrapper {
    display: flex;
    padding-top: 29px;
}

/* 2.1 头部logo */
.logo a {
    display: block;
    width: 195px;
    height: 41px;
    /* background-color: pink; */
    background-image: url(../images/logo.png);
    /* 隐藏文字 */
    font-size: 0;
}

/* 2.2 头部导航 */
.nav {
    margin-left: 102px;
}

.nav ul {
    display: flex;
}

.nav li {
    margin-right: 24px;
}

.nav li a {
    display: block;
    padding: 6px 8px;
    line-height: 27px;
    font-size: 19px;
}

.nav li .active,
.nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}

/* 2.3 头部搜索框 */
.search {
    display: flex;
    margin-left: 64px;
    padding-left: 19px;
    padding-right: 12px;
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
}

.search input {
    flex: 1;
    border: 0;
    /* 背景色设置为透明 */
    background-color: transparent;
    /* 去掉表单控件的焦点框 */
    outline: none;
}

/* ::placeholder 选中就是 placeholder 属性文字样式*/
.search input::placeholder {
    font-size: 14px;
    color: #999;
}

/* 父级是flex布局，子级变弹性盒子：加宽高生效 不用写display：block */
.search a {
    align-self: center;
    width: 16px;
    height: 16px;
    background-image: url(../images/search.png);
}

/* 2.4 用户区域 */
.user {
    margin-left: 32px;
    margin-top: 4px;
}

.user .user-img {
    margin-right: 7px;
    /* vertical-align 设置 行内块元素和行内元素的 垂直方向对齐方式 */
    vertical-align: middle;
}

.user .user-name {
    font-size: 16px;
    color: #666;
}

/* 3. banner区域 */
.banner {
    height: 420px;
    background-color: #0092cb;
}

.banner .wrapper {
    display: flex;
    justify-content: space-between;
    height: 420px;
    background-image: url(../uploads/banner.png);
}

/* 3.1 侧导航区域 */
.banner .left {
    padding: 3px 20px;
    width: 191px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.42);
}

.banner .left a {
    /* 块级：宽度是父级的100% */
    display: block;
    height: 46px;
    background: url(../images/right.png) no-repeat right center;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
}

.banner .left a:hover {
    background-image: url(../images/right-hover.png);
    color: #00a4ff;
}

/* 3.2 右侧我的课程区域 */
.banner .right {
    margin-top: 60px;
    width: 218px;
    height: 305px;
    background-color: #209dd5;
    border-radius: 10px;
}

.banner .right h3 {
    margin-left: 14px;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
}

.banner .right .content {
    padding: 14px;
    height: 257px;
    background-color: #fff;
    border-radius: 10px;
}

.banner .right dl {
    margin-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
}

.banner .right dt {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

.banner .right dd {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
}

.banner .right dd span {
    color: #00a4ff;
}

.banner .right dd strong {
    color: #7d7d7d;
    font-weight: 400;
}

.banner .right a {
    display: block;
    height: 32px;
    background-color: #00a4ff;
    /* 水平居中 */
    text-align: center;
    /* 行高与高度一致为垂直居中 */
    line-height: 32px;
    font-size: 14px;
    color: #fff;
    border-radius: 15px;
}