/* 各个页面相同的样式 */

/* 版心居中 */
.wrapper {
    margin: 0 auto;
    width: 1240px;
}

/* 新鲜好物 */
/* 标题 -- 公共样式 */
.title {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 30px;
    height: 42px;
    /* background-color: pink; */
}

.title .left {
    display: flex;
}

.title .left h3 {
    margin-right: 35px;
    font-size: 30px;
}

.title .left p {
    align-self: flex-end;
    color: #A1A1A1;
}

.title .right .more {
    line-height: 42px;
    color: #A1A1A1;
}

.title .right .more .iconfont {
    margin-left: 10px;
}

/* 好物内容 -- 公共样式 */
.bd ul {
    display: flex;
    justify-content: space-between;
}

.bd li {
    width: 304px;
    height: 404px;
    background-color: #EEF9F4;
}

.bd li .pic {
    width: 304px;
    height: 304px;
}

.bd li .txt {
    text-align: center;
}

.bd li h4 {
    margin-top: 18px;
    margin-bottom: 8px;
    font-size: 20px;
}

.goods .bd p {
    font-size: 18px;
    color: #AA2113;
}

.goods .bd p span {
    margin-left: 3px;
    font-size: 22px;
}